In [4]:
import pandas as pd
import glob

### First Method

In [5]:
def merge_csv_files(path, output_file):
   
                # Geting all CSV files in Data folder
    all_files = glob.glob(path + '*/*/*.csv')
    
             # Initialize an empty list to hold dataframes
    li = []
    
            # Read each CSV file and append to the list
    for filename in all_files:
        df = pd.read_csv(filename, index_col=None, header=0)
        li.append(df)
    
            # Concatenate all dataframes into one
    combined_df = pd.concat(li, axis=0, ignore_index=True)
    
            # Group by the 'Date' column and sum the values in other columns
    resulting_dataframe = combined_df.groupby('Date', as_index=False).sum()
    
    # Save the resulting DataFrame to a CSV file
    resulting_dataframe.to_csv(output_file, index=False)
    
    return resulting_dataframe

# Example usage:
path = 'data/'
output_file = 'merged_output.csv'
final_df = merge_csv_files(path, output_file)
print("DataFrame saved to:", output_file)

DataFrame saved to: merged_output.csv

In [6]:
final_df.head()

         Date       GHI         PR
0  2019-07-01  3.256608  69.575676
1  2019-07-02  3.976767  79.314411
2  2019-07-03  2.811867  61.020006
3  2019-07-04  3.658408  83.262576
4  2019-07-05  5.590683  82.124440

In [7]:
final_df.shape

(982, 3)

### Second Method

In [8]:
def preprocess_data(ghi_path, pr_path, output_file):
   
        # Read all GHI and PR CSV files
    
    ghi_files = glob.glob(ghi_path + '*/*.csv')
    pr_files = glob.glob(pr_path + '*/*.csv')
    
    ghi_list = [pd.read_csv(file) for file in ghi_files]
    pr_list = [pd.read_csv(file) for file in pr_files]
    
        # Concatenate GHI and PR data
    
    ghi_df = pd.concat(ghi_list, axis=0, ignore_index=True)
    pr_df = pd.concat(pr_list, axis=0, ignore_index=True)
    
        # Merge GHI and PR data on 'Date'
    
    merged_df = pd.merge(ghi_df, pr_df, on='Date', how='outer')
    
        # Ensure the columns are in the order: 'Date', 'GHI', 'PR'
    
    merged_df = merged_df[['Date', 'GHI', 'PR']]
    
        # Save the merged DataFrame to a CSV file
    
    merged_df.to_csv(output_file, index=False)
    
        # Verify the number of rows
    
    if len(merged_df) != 982:
        raise ValueError(f"The resulting CSV file should contain 982 rows, but it has {len(merged_df)} rows.")
    
    return merged_df

# Example usage:
ghi_path = 'data/GHI/'
pr_path = 'data/PR/'
output_file = 'merged_data.csv'
merged_data = preprocess_data(ghi_path, pr_path, output_file)

In [9]:
merged_data.head()

         Date       GHI         PR
0  2019-07-01  3.256608  69.575676
1  2019-07-02  3.976767  79.314411
2  2019-07-03  2.811867  61.020006
3  2019-07-04  3.658408  83.262576
4  2019-07-05  5.590683  82.124440